In [1]:
import pandas as pd

data_path = "../data/raw/honey_pollen_efficiency_raw.csv"
df = pd.read_csv(data_path)

/home/ldmonte/workspace/SQLite/Bee_trials/bee-honey-efficiency-analysis/venv/lib/python3.12/site-packages/numpy/_core/getlimits.py:552: UserWarning: Signature b'\x00\xd0\xcc\xcc\xcc\xcc\xcc\xcc\xfb\xbf\x00\x00\x00\x00\x00\x00' for <class 'numpy.longdouble'> does not match any known type: falling back to type probe function.
This warnings indicates broken support for the dtype!
  machar = _get_machar(dtype)

In [2]:
df = pd.read_csv(data_path)
df.shape

(107, 25)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 107 entries, 0 to 106
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   hive_id              107 non-null    object
 1   trial_id             107 non-null    object
 2   colony_strength      107 non-null    int64
 3   pollen_feed_1_dates  107 non-null    object
 4   pollen_feed_2_dates  107 non-null    object
 5   pollen_feed_3_dates  107 non-null    object
 6   pollen_feed_4_dates  107 non-null    object
 7   pollen_feed_1        107 non-null    int64
 8   pollen_feed_2        107 non-null    int64
 9   pollen_feed_3        107 non-null    int64
 10  pollen_feed_4        107 non-null    int64
 11  collection_1_date    107 non-null    object
 12  collection_2_date    107 non-null    object
 13  collection_3_date    107 non-null    object
 14  collection_4_date    107 non-null    object
 15  collection_1_output  107 non-null    object
 16  collection_2_output  107 non-null    object
 17  collection_3_output  107 non-null    object
 18  collection_4_output  107 non-null    object
 19  time_hours           107 non-null    int64
 20  pollen_input_g       107 non-null    object
 21  honey_output_g       107 non-null    object
 22  location             107 non-null    object
 23  humidity_pct         107 non-null    int64
 24  temperature_c        107 non-null    int64
dtypes: int64(8), object(17)
memory usage: 21.0+ KB

In [4]:
numeric_cols = [
    "collection_1_output",
    "collection_2_output",
    "collection_3_output",
    "collection_4_output",
    "pollen_input_g",
    "honey_output_g"
]

for col in numeric_cols:
    df[col] = (
        df[col]
        .astype(str)
        .str.replace(",", "", regex=False)
        .astype(float)
    )

df[numeric_cols].dtypes

collection_1_output    float64
collection_2_output    float64
collection_3_output    float64
collection_4_output    float64
pollen_input_g         float64
honey_output_g         float64
dtype: object

In [5]:
date_cols = [
    "collection_1_date",
    "collection_2_date",
    "collection_3_date",
    "collection_4_date"
]

for col in date_cols:
    df[col] = pd.to_datetime(df[col], dayfirst=True, errors="coerce")

df[date_cols].head()

  collection_1_date collection_2_date collection_3_date collection_4_date
0        2025-09-03        2025-09-05        2025-09-09        2025-09-12
1        2025-09-03        2025-09-05        2025-09-09        2025-09-12
2        2025-09-03        2025-09-05        2025-09-09        2025-09-12
3        2025-09-03        2025-09-05        2025-09-09        2025-09-12
4        2025-09-03        2025-09-05        2025-09-09        2025-09-12

In [6]:
df["efficiency"] = df["honey_output_g"] / df["pollen_input_g"]
df["honey_per_hour"] = df["honey_output_g"] / df["time_hours"]

df[["pollen_input_g", "honey_output_g", "efficiency", "honey_per_hour"]].head()

   pollen_input_g  honey_output_g  efficiency  honey_per_hour
0          2400.0       1065500.0  443.958333    22197.916667
1          2400.0       1155000.0  481.250000    24062.500000
2          2400.0       1917000.0  798.750000    39937.500000
3          2400.0       1136000.0  473.333333    23666.666667
4          2400.0       1750000.0  729.166667    36458.333333

In [7]:
df.shape

(107, 27)

In [8]:
df.describe()

,colony_strength,pollen_feed_1,pollen_feed_2,pollen_feed_3,pollen_feed_4,collection_1_date,collection_2_date,collection_3_date,collection_4_date,collection_1_output,collection_2_output,collection_3_output,collection_4_output,time_hours,pollen_input_g,honey_output_g,humidity_pct,temperature_c,efficiency,honey_per_hour
count,107.000000,107.000000,107.000000,107.000000,107.000000,107,107,107,107,1.070000e+02,107.000000,107.000000,107.000000,107.0,107.000000,1.070000e+02,107.0,107.0,107.000000,107.000000
mean,110175.700935,586.168224,586.168224,586.168224,586.168224,2025-09-29 11:53:16.261682176,2025-10-01 11:53:16.261682176,2025-10-05 11:53:16.261682176,2025-10-08 11:53:16.261682176,4.412150e+05,452953.271028,320471.962617,317623.364486,48.0,2344.672897,1.532264e+06,75.0,27.0,643.176372,31922.157321
min,100.000000,60.000000,60.000000,60.000000,60.000000,2025-09-03 00:00:00,2025-09-05 00:00:00,2025-09-09 00:00:00,2025-09-12 00:00:00,2.000000e+03,2500.000000,2500.000000,2700.000000,48.0,240.000000,9.700000e+03,75.0,27.0,40.416667,202.083333
25%,100000.000000,600.000000,600.000000,600.000000,600.000000,2025-09-17 00:00:00,2025-09-19 00:00:00,2025-09-23 00:00:00,2025-09-26 00:00:00,3.325000e+05,338500.000000,234000.000000,220000.000000,48.0,2400.000000,1.228000e+06,75.0,27.0,516.041667,25583.333333
50%,107000.000000,600.000000,600.000000,600.000000,600.000000,2025-10-01 00:00:00,2025-10-03 00:00:00,2025-10-07 00:00:00,2025-10-10 00:00:00,4.400000e+05,455000.000000,330000.000000,297000.000000,48.0,2400.000000,1.615000e+06,75.0,27.0,659.166667,33645.833333
75%,120000.000000,600.000000,600.000000,600.000000,600.000000,2025-10-15 00:00:00,2025-10-17 00:00:00,2025-10-21 00:00:00,2025-10-24 00:00:00,5.550000e+05,590000.000000,417000.000000,399000.000000,48.0,2400.000000,1.884000e+06,75.0,27.0,772.500000,39250.000000
max,160000.000000,800.000000,800.000000,800.000000,800.000000,2025-10-29 00:00:00,2025-10-31 00:00:00,2025-11-04 00:00:00,2025-11-07 00:00:00,1.135000e+06,895000.000000,585000.000000,725000.000000,48.0,3200.000000,2.770000e+06,75.0,27.0,1154.166667,57708.333333
std,29975.681468,105.809056,105.809056,105.809056,105.809056,NaN,NaN,NaN,NaN,1.953737e+05,186376.046784,121441.068707,141942.850298,0.0,423.236224,5.270640e+05,0.0,0.0,204.389399,10980.499410

In [9]:
output_path = "../data/processed/honey_pollen_efficiency_clean.csv"
df.to_csv(output_path, index=False)